.aboutme-section {
      height: 100vh;
}

.project-section,
.card-section {
      height: 100vh;
      margin-top: 2%;
}

.section-title {
      font-size: 4em;
      font-weight: 900;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      margin-bottom: 2%;
      fill: none;
      letter-spacing: 4px;
      text-transform: uppercase;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
}

.test-project {
      text-decoration: none;
      color: #eeeeee;
}

@media (max-width: 640px) {
      .aboutme-section {
            height: 70vh;
      }

      .project-section,
      .card-section {
            height: 70vh;
      }

      .section-title {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 30px;
      }
}

@media (min-width: 1600px) {
      .project-section {
            margin-bottom: 2%;
      }
}