.container {
      max-width: 100%;
      display: flex;
}

.gallery-container {
      margin-left: auto;
      margin-right: auto;
      column-count: 3;
      width: 90%;
      padding: 20px;
}

.mItem li {
      display: flex;
      flex-direction: column;
      gap: 20px;
}

img {
      width: 100%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 13px;
      margin: 10px;
}

@media (max-width: 1199px) {
      .masonry {
            column-count: 3;
      }
}

@media (max-width: 991px) {
      .masonry,
      .gallery-container {
            column-count: 2;
      }
}

@media (max-width: 640px) {
      /* .masonry, */
      .container{
            display: flex;
            justify-content: center;
      }
      .gallery-container {
            column-count: 1;
      }
}
