.detail-project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2%;
}

.detail-project li {
      display: flex;
      justify-content: center;
      margin: 1%;
}

.detail-project li h1 {
      font-size: 24px;
}

.detail-project li img {
      width: 1023px;
      height: auto;
      object-fit: cover;
}

.grid-image {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      gap: 2%;
      margin-bottom: 10%;
      margin-top: 2.5%;
}

.image-project {
      /* width: 200px; */
      max-height: 327px;
      object-fit: cover;
      /* gap: 20%; */
      transition: 0.5s ease;
      width: 100%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 13px;
}

.icon-project {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      gap: 10%;
      margin-top: 2%;
      width: 90%;
      align-items: center;
}

.icon a,
.github-icon {
      text-decoration: none;
      color: #eeeeee;
}

.icon a svg,
.github-icon {
      width: 40px;
      height: 40px;
      box-shadow: none !important;
}

@media (max-width: 640px) {
      .detail-project li p {
            text-align: center;
      }

      .image-project {
            width: 100%;
      }

      .grid-image {
            display: grid;
            grid-template-columns: 1fr;
            padding-bottom: auto;
      }
}
