.detail-project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2%;
}

.detail-project li {
      display: flex;
      justify-content: center;
      margin: 1%;
}

.detail-project li h1 {
      font-size: 24px;
}

.detail-project li img {
      width: 1023px;
      height: auto;
      object-fit: cover;
}

@media (max-width: 640px) {
      .detail-project li p {
            text-align: center;
      }
      .detail-project li img {
            width: 389px;
      }
}
