.button-mailto {
      width: 200px;
      height: 50px;
      border-radius: 2px;
      border: none;
      background-color: #efdcd2;
      font-size: 1.38vw;
      font-weight: 500;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
