.card-container {
      display: flex;

      width: 70%;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
}

.card-container:not(:last-child) {
      border-bottom: 2px solid #222831;
}

.card-list {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: 8%;
      opacity: 0;
      animation: fadeIntest 10s ease-in forwards;
}

.card-list h1 {
      display: flex;
      width: 100%;
      font-weight: 900;
      text-transform: uppercase;
      /* color: #eae0d5; */
      font-size: 2em;
}

@keyframes fadeIntest {
      from {
            opacity: 0;
      }

      to {
            opacity: 1;
      }
}

@media (max-width: 640px) {
      .card-container {
            width: 90%;
      }

      .card-list h1 {
            font-size: 20px;
      }
}
